<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="template1">
<head>
<meta charset="utf-8"/>
<title>access Denied</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="col-md-6 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Authorisation denied</div>
        <div class="panel-body">
          <div class="text-danger">Access Denied </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>